body{
    margin: 0;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    padding-top: 5px;
    padding-left: 50px;
    margin: 1vh 0;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5em;
    padding-top: 15px;
    padding-left: 50px;
    margin: 1vh 0;
   
}

button{
    cursor: pointer;
    margin-left: 50px;
    background-color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    border-radius: 90px;
    padding: 15px 40px 15px;
    font-size: 20px;
}

.button-a {
    color: hsl(31, 77%, 52%);
}
.button-b {
    color: hsl(184, 100%, 22%)
}
.button-c {
    color: hsl(179, 100%, 13%);
}

.img {
    margin-left: 50px;
    margin-top: 5vh;
}

.first-col {
    background-color: hsl(31, 77%, 52%);
    float:left;
    width: 33.33%;
    height: 100%;
}

 /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
  }


.second-col {
  float: left;
  width: 33.33%;
  background-color: hsl(184, 100%, 22%);
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.third-col {
    float: left;
    width: 33.33%;
    background-color: hsl(179, 100%, 13%);
    height: 100%;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .ab{
      width: 65%;
      margin: 0 10% 0 0;
  }

  .content-wrapper {
      padding: 10vh 10vw;
      background-color: hsl(0, 0%, 95%);
      height: 80vh;
      width: 80vw;
  }

  .ex {
      margin-top: 20%;
  }